*{
    color: white;
}
body{
    background-image: url("/home/abhijay/Desktop/Code/AI/github/AI_project_G38/frontend/public/5040007.jpg");
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: "frontend\public\backgorund.jpg";
  background-size: cover;
  height: 100vh;
}

nav {
  background-color: #333;
  overflow: hidden;
  width : 100%
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }

nav li {
  float: left;
}

.left{
    display: flex;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #111;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.label {
  font-size: 24px;
  margin-bottom: 20px;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #3e8e41;
}
.logout{
    align-items: right;
}